<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashboard</title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <p>Welcome, {{username}}.</p>
        <p>things to be managed:</p>

        <ul>
            <li>Manage Users</li>
            <li>Manage Roles for Users</li>
            <li>Manage Patient Assignments</li>
            <li><a href="/admin/audit-logs">View Audit Logs</a></li>
            <li><a href="/admin/verify-audit-chain">Audit Chain Verification</a></li>
        </ul>

        <a href="/logout">Go Back to Login Page</a>
    </body>
</html>