<!DOCTYPE html>
<html>
    <head>
        <title>Doctor Dashboard</title>
    </head>
    <body>
        <h1>Welcome to Doctor Dashboard</h1>
        <p>Welcome, {{username}}</p>
        <p>things to be managed based on your role:</p>

        <ul>
            <li>View Your Assigned Patients</li>
            <li>Add Clinical Notes</li>
            <li>Add a Feedback and Follow up Form for a Patient</li>
            <li>Help Queries</li>
            <li>Contact Administrator</li>
        </ul>

        <a href="/logout">Go Back to Login Page</a>
    </body>
</html>