<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h1>Please login here:</h1>
        <p>Please login based on your role.</p>
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" name="username">

            <br><br>

            <label>Password:</label>
            <input type="password" name="password">

            <br><br>

            <button type="submit">Login</button>
        </form>

        <br>

        <a href="/">Go back to homepage</a>
    </body>
</html>