<!DOCTYPE html>
<html>
    <head>
        <title>Nurse Dashboard</title>
    </head>
    <body>
        <h1>Welcome to Nurse Dashboard.</h1>
        <p>Hello there, {{username}}</p>
        <p>Things you can do based on your role:</p>

        <ul>
            <li>View Your Assisgned Patients</li>
            <li>Add Care Notes</li>
            <li>Add a Feedback and Follow up Form for a Patient</li>
            <li>Help Queries</li>
            <li>Contact Administrator</li>
        </ul>

        <a href="/logout">Go Back to Login Page</a>
    </body>
</html>