<!DOCTYPE html>
<html>
    <head>
        <title>Patient Dashboard</title>
    </head>
    <body>
        <h1>Welcome to Patient Dashboard.</h1>
        <p>Hello there, {{username}}</p>
        <p>Things you can do based on your role:</p>

        <ul>
            <li>View Your Record</li>
            <li>Submit a Request</li>
            <li>Request for a GP Appointment</li>
            <li>Help Queries</li>
            <li>Contact Administrator</li>
        </ul>

        <a href="/logout">Go Back to Login Page</a>
    </body>
</html>